<article class='content docs'>
	<%== can.view.render("//documentjs/jmvcdoc/content/views/title.ejs",this,DocumentationHelpers)%>
	<section class='description'>
		<%== this.description %>
	</section>
	<%can.each(this.signitures || [],function(signiture){%>
		<%== can.view.render("//documentjs/jmvcdoc/content/views/signiture.ejs",signiture,DocumentationHelpers)%>
	<%})%>
	<%if(this.params || this.returns){%>
		<%== can.view.render("//documentjs/jmvcdoc/content/views/signiture.ejs",{
			params: this.params,
			returns: this.returns,
			code: makeSigniture()
		},DocumentationHelpers)%>
	<%}%>
	<section class='comment'><%== link(this.comment)%></section>
</article>

