<article class='content docs'>
	<%== can.view.render("//documentjs/jmvcdoc/content/views/title.ejs",this,DocumentationHelpers)%>
	<section class='description'>
		<%== link(this.description||"") %>
		<ul id='outline'></ul>
	</section>
	<%can.each(this.signatures || [],function(signature){%>
		<%== can.view.render("//documentjs/jmvcdoc/content/views/signature.ejs",signature,DocumentationHelpers)%>
	<%})%>
	
	<%console.log(this);if(this.params || this.returns){%>
		<%== can.view.render("//documentjs/jmvcdoc/content/views/signature.ejs",{
			params: this.params,
			returns: this.returns,
			code: makeSigniture()
		},DocumentationHelpers)%>
	<%}%>
	<section class='comment'><%== link(this.comment||"")%></section>
</article>

