<section class='signature'>
	<h2><code><%== this.code%></code>
		<%if(this.version) {%>
			<span class='version'>since <%= this.version %></span>
		<%}%>
	</h2>
	<%== this.description %>
	
	<h3>Parameters</h3>
	<ol class='parameters'>
		
		<% can.each(this.params, function(param){ %>
			<%== can.view.render("//documentjs/jmvcdoc/content/views/parameter.ejs",{
				param: param
			},DocumentationHelpers)%>
		<% }) %>
		
	</ol>
	<% if(this.returns){ %>
	<h3>Returns</h3>
	<div class='returns'>
		<h4><code class='types'><%== typesHTML(this.returns.types) %></code></h4>
		<div class='description'>
			<%== this.returns.description %>
		</div>
	</div>
	<% } %>
</section>

