<section class='title'>
	<div class='pullright'>
        <ul class='tags'>
        		<li><%= this.type %></li>
        		<%can.each(this.tags,function(tag){%>
        			<li><%== can.route.link(tag,{search: tag}) %></li>
        		<%})%>
        </ul>
        <ul class='links'>
        		<%
        		var links = {};
        		if(this.test){
        			links["test"] = steal.config().root? steal.config().root.join(this.test): this.test
        		}
        		if(this.download){
        			links["download"] = this.download
        		}
        		if(this.line !== undefined && window.DOCS_SRC_MAP){
        			links["source"] = source(this);
			}
			$.each(links, function(name, url){ %>
				<li><a href="<%= url %>"><%= name %></a></li>
			<%})%>
        </ul>
    </div>
    <h1><%= this.title || name.replace(/~/g,".") %></h1>
    
    <% if( this["module"] || this.plugin || this.alias){ %>
		<span class='module'> <%= this["module"] || this.plugin || this.alias %></span>
    <%} %>

    
    <% if(this.inherits){ %>
    <span class='inherits'> inherits:<%== linkOpen(this.inherits) %></span>
    <%} %>
</section>
